{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Eliminar Receta</title>
</head>
<body>
    <h1 class = "centrar"> Eleminar</h1>

    <a class="nav-link" href="{% url 'base' %}"><button class = "button3"> Volver Al Inicio</button></a><br><br>

    <form method="post">{% csrf_token %}
            
        <label>Nombre de la receta:</label>
        <input type = "text" name = 'nombre'><br><br>

        <label>Ingrese si la receta es salada o dulce:</label>
        <input type="text" name = 'tipo'><br><br>


        {{ from.as_p}}
        <button type="submit">Eliminar</button>
    </form>

</body>
</html>