{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Pan de campo</title>
    <style>
        table, th, td {
            border: 2px solid black;
        }
    </style>
</head>

<body>
    <h1 class = "centrar">Pan de campo</h1>

    <ul class="nav justify-content-cente">  
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base' %}"><button class = "button3"> Volver Al Inicio</button></a><br>
        </li>
        <br>
        <li><a href="{% url 'vista_receta' %}" ><button class = "button2">Volver a Recetas</button></a> </li>
      </ul>

    <p><strong>Pan de campo</strong></p>

    <table style="width: 500px;">
        <thead>
            <tr>
                <th >Gramaje</th>
                <th>Ingredientes</th>
            </tr>
        </thead>    
        <tr>
            <th class = "centrar">Esponja</th>
        </tr>

        <tr>
            <td>150gr</td>
            <td>Harina 000</td>
        </tr>

        <tr>
            <td>90ml</td>
            <td>Agua</td>           
        </tr>

        <tr>
            <td>25gr</td>
            <td>Levadura</td>
        </tr>

        <tr>
            <th class = "centrar"> Amasijo</th>
        </tr>

        <tr>
            <td> 350gr</td>
            <td>Harina 0000</td>
        </tr>
    </table>
    <br>
    <br>
    <table>

        <tr>

            <th class = "centrar">Elaboración  Artesanal</th>
            
        </tr>

        <tr>
            <td>Esponja</td>
        </tr>

        <tr>
            <td><li>
                Colocar en un bol la harina, el agua, la levadura y amasar hasta que se unan bien todos los ingredientes,<br>
                no hace falta darle mucho tiempo.
            </li></td>
        </tr>

        <tr>
            <td>Amasijo</td>
        </tr>

        <tr>
            <td><li>
                Hacer una corona grande con la harina y colocar dentro el resto de los ingredientes.
            </li></td>
        
        </tr>

        <tr>
            <td><li>
                Mezclarlos en el centro de la misma y evitar romper la corona para que no salga el agua.
            </li></td>
        </tr>

        <tr>
            <td>
                <li>
                    Una vez integrados todos los ingredientes agregar la esponja ya fermentada.
                </li>
            </td>
        </tr>

        <tr>
            <td>
                <li>
                    Amasar hasta lograr una masa sedosa y suave, dejar descansar 5 minutos.
                </li>
            </td>
        </tr>

        <tr>
            <td>
                <li>
                    Luego cortar las piezas del peso deseado, bollarlas y darle la forma del pan, espolvear <br>
                    la superficie con harina y realizar un corte en forma de cruz, con  busturi, estibar<br>
                     en bandejas enmantecadas y fermentarlas hasta que duplique su volumen.
                </li>
            </td>
        </tr>

        <tr>
            <td>
                <li>
                    Cocinar a 200°C durante 20 minutos aproximadamente.
                </li>
            </td>
        </tr>

        <tr>
            <td>
                <li>
                    Luego colocar los panes en el horno darle vapor durante 10 segundos.
                </li>
            </td>
        </tr>
    </table>

</body>
</html>