{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Pan de Viena</title>
    <style>
        table, th, td {
            border: 2px solid black;
        }
    </style>
</head>
<body>
    
    <h1 class = "centrar"> Pan De Viena</h1>

    <ul class="nav justify-content-cente">  
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base' %}"><button class = "button3"> Volver Al Inicio</button></a><br>
        </li>
        <br>
        <li><a href="{% url 'receta_dulce' %}" ><button class = "button2">Volver a Recetas</button></a> </li>
    </ul>
    <br>
    <p><strong>Pan de Viena (Chips, Hamburguesa, Pancho)</strong></p>

    <br>

    <table style = "width:500px;">

        <thead>
            <tr>
                <th>Gramaje</th>
                <th>Ingredientes</th>
            </tr>
        </thead> 

        <tr>
            <th>500gr</th>
            <th>Harina 000</th>
        </tr>

        <tr>
            <th>300cc</th>
            <th>Leche tibia</th>
        </tr>

        <tr>
            <th>50gr</th>
            <th>Azúcar</th>
        </tr>

        <tr>
            <th>50gr</th>
            <th>Manteca pomada</th>
        </tr>

        <tr>
            <th>10gr</th>
            <th>Sal</th>
        </tr>

        <tr>
            <th>25gr</th>
            <th>Levadura</th>
        </tr>

        <tr>
            <th>10gr</th>
            <th>Extracto de maldta</th>
        </tr>

    </table>

    <p><strong>Elaboración</strong></p>

    <ul>

        <li>
            Realizar el fermento disolviendo la levadura con un poco de leche, añadir la <br>
            malta y algo de harina hasta lograr una preparación cremosa. Dejar fermentar. <br>
        </li>
        <br>
        <li>
            Realizar una corona con el resto de harina, colocar dentro de los demás <br>
            ingredientes, cuando el fermento esté listo añardirlo tambien y comenzar <br>
            a integrar la masa.
        </li>
        <br>
        <li>
            Luego amasar sobre la mesa hasta lograr una masa sedosa y suave.
        </li>
        <br>
        <li>
            Dejar levar durante 15 minutos. (1° levado).
        </li>
        <br>
        <li>
            Luego desagasificar, estirar y cortar las piezas según el peso de cada uno.
        </li>
        <br>
        <li>
            Estibar en bandejas enmantecadas, dejar levar en un lugar tibio, hasta <br>
            que lleguen al doble de su volumen (2° levado).
        </li>
        <br>
        <li>
            Cocinar a 180°C durante 15 a 20 minutos, colocar durante la cocción <br>
            un recipiente con agua de tal manera que produzca, una pelicula fina.
        </li>

    </ul>

</body>
</html>