{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Pizza</title>

    <style>
        table, th, td {
            border: 2px solid black;
        }
    </style>
</head>
<body>

    <h1 class = "centrar">Pizza</h1>

    <ul class="nav justify-content-cente">  
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base' %}"><button class = "button3"> Volver Al Inicio</button></a><br>
        </li>
        <br>
        <li><a href="{% url 'vista_receta' %}" ><button class = "button2">Volver a Recetas</button></a> </li>
    </ul>

    <h2>Pizza</h2>

    <h3>Para la masa</h3>

    <table style = "width:500px;">

        <thead>
            <tr>
                <th>Gramaje</th>
                <th>Ingredientes</th>
            </tr>
        </thead>

        <tr>
            <th>250gr</th>
            <th>Harina puede ser 000 o 0000</th>
        </tr>

        <tr>
            <th>15gr</th>
            <th>Levadura</th>
        </tr>

        <tr>    
            <th>5gr</th>
            <th>Sal</th>
        </tr>

        <tr>
            <th>15cc</th>
            <th>Aceite Oliva</th>
        </tr>

        <tr>
            <th>150cc</th>
            <th>Agua</th>
        </tr>
    </table>

    <h3>Para la salsa.</h3>

    <table style="width:500px;">

        <thead>
            <tr>
                <th>Gramaje</th>
                <th>Ingredientes</th>
            </tr>
        </thead>

        <tr>
            <th>200gr</th>
            <th>Pulpa de tomate</th>
        </tr>

        <tr>
            <th>Cantidad necesaria</th>
            <th>Aceita de oliva</th>
        </tr>

        <tr>
            <th>1 unidad</th>
            <th>Diente de ajo</th>
        </tr>

        <tr>
            <th>Cantidad necesaria</th>
            <th>Orégano</th>
        </tr>

        <tr>
            <th>Cantidad necesaria</th>
            <th>Sal</th>
        </tr>

        <tr>
            <th>Cantidad necesaria</th>
            <th>Pimienta</th>
        </tr>

    </table>

    <h3>Elaboración.</h3>
    <h3>Para la masa:</h3>

    <ul>
        <li>Mezclar la harina con la sal y realizar una corona.</li>
        <br>
        <li>Mezclar con agua tibia la levadura y disolver.</li>
        <br>
        <li>Agregar el agua restante, el aceite y la levadura disuelta <br>
        en el medio de la corona.</li>
        <br>
        <li>Amasar hasta obtener una masa lisa y homogénea. <br>
        Dejar levar, desgasificar.</li>
        <br>
        <li>Bollar al peso deseado.</li>
        <br>
        <li>Levar en un lugar tibio con la masa tapada sin apretar.</li>
        <br>
        <li>Esparcir por encima de la masa estirada la salsa de tomate. <br>
        horanear a blanco.</li>
        <br>
        <li>Agregar más salsa, el queso y sabor deseado.</li>
        <br>
        <li>Horenear hasta derretir el queso.</li>
        <br>
        <li>Cortar y servir.</li>
        
    </ul>

    <h3>Para la salsa:</h3>

    <ul>
        <li>Hervir la pulpa de tomate, condimentar.</li>
    </ul>

</body>
</html>